/* Navbar */
.bg-dark {
  background-color: #1f1f1f !important;
}
.btn-outline-success {
  color: #ee5e11;
  border-color: #ee5e11;
}
.btn-outline-success:hover {
  background-color: #ee5e11;
  border-color: #ee5e11;
}
#logo {
  height: 3vw;
  margin-left: 1vw;
}
.navbar {
  padding: 0 1rem;
}

/* Carousel */
.carousel-inner img {
  height: 25em;
}

/* Event Cards Container */
.event-container {
  margin-top: 3em;
}
.btn-primary {
  color: #fff;
  background-color: #ee5e11;
  border-color: #ee5e11;
}
.event-category {
  text-align: left;
}
